<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Interchange  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100704

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Top5</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><% link_to root_path do %>favorite-five<% end %></h1>
			<p>Share your Taste.</p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
					<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
					<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Add New List', new_toplist_path %></li>
			<%#
			<li><a href="#">My Lists</a></li>
			<li><a href="#">Propose New Topic</a></li>
			<li><a href="#">Contact</a></li>
			%>
			<% unless signed_in? %>
			  <li class="last"><%= link_to 'Sign in', signin_path %></li>
			<% else %>
			  <li class="last">
			    <% link_to signout_path do %>
			      <%= image_tag current_user.image, :size => '32x32' %> <span><%= current_user.name %></span>
			    <% end%>
			  </li>
			<% end %>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
				  <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
				  <%= yield %>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Categories</h2>
							<ul>
							  <li><%= link_to 'All', toplists_path %></li>
							  <% Category.ordered.each do |category| %>
							    <li><%= link_to category.title, category_toplists_path(category) %></li>
							  <% end %>
							</ul>
						</li>
						<li>
							<h2>TOP5 Lists</h2>
							<ul>
								<li><a href="#">TOP5 movies of all time</a></li>
								<li><a href="#">TOP5 albums of all time</a></li>
								<li><a href="#">TOP5 bicycles brands</a></li>
							</ul>
						</li>
						<li>
							<h2>TOP Users</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
								<li><a href="#">Consectetuer adipiscing elit</a></li>
								<li><a href="#">Metus aliquam pellentesque</a></li>
								<li><a href="#">Suspendisse iaculis mauris</a></li>
								<li><a href="#">Urnanet non molestie semper</a></li>
								<li><a href="#">Proin gravida orci porttitor</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>
	  <%= link_to 'about me', about_path %> | 
	  Design by <a href="http://www.freecsstemplates.org/" target="_blank" > CSS Templates</a>.
	</p>
</div>
<!-- end #footer -->
</body>
</html>
